@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }

  @apply antialiased;
}


.swiper-button-prev, .swiper-button-next {
  background: rgba(235,230,231, 0.8);
  border-radius: 4px;
  &:after {
    color: #2E2E2EFF;
    font-size: 16px;
    font-weight: bold;
  }
  &:hover {
    background: rgba(235,230,231, 0.95);
  }
}